.app {
  border: 1px solid black;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
}
.Humid {
  padding-top: 10px;
}
.coder {
  padding-left: 195px;
}
.units {
  font-size: 16px;
  top: -16px;
  position: relative;
}
li {
  list-style: none;
}
h1 {
  font-weight: 500;
}
.weather-temperature strong {
  font-size: 40px;
  font-weight: 500;
}
li:first-letter {
  text-transform: capitalize;
}
